.header {
    background-size: cover;
    text-align: center;
    width: 100%;
}

.logo-container {
    text-align: left;
    width: 50%;
    display: inline-block;
}

.logo {
    margin-top: 10px;
    text-align: center;
    width: 160px;
}

.head-title {
    font-size: 25px;
    font-family: 'Pacifico', cursive;
}

.head-sub {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.head-sub span {
    font-size: 13px;
}

.nav-container {
    width: 49%;
    display: inline-block;
    margin: auto;
    text-align: right;
    vertical-align: top;
}

.nav {
    margin: auto;
    margin-right: 35px;
    margin-top: 25px;
}

.nav a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    background: red;
}

.nav button {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    background: none;
}

.nav button:hover {
    cursor: pointer;
}


input {
    border-radius: 5px;
    border: solid 1px gray;
}

@media screen and (max-width: 40em) {
    .logo-container{
        width: 42%;
    }
    .nav-container{
        width: 55%;
    }
    .nav button{
        margin-left: 5px;
        margin-right: 0px;
    }
}
