body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.header{
    background: url(https://s3-us-west-1.amazonaws.com/maxhdz.com/fort-funston.jpg) top center;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 600px;
}

.logo-container{
    text-align: left;
    width: 50%;
    display: inline-block;
}
.logo{
    margin-top: 10px;
    text-align: center;
    width: 160px;
}
.head-title{
    font-size: 25px;
    font-family: 'Pacifico', cursive;
}
.head-sub{
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.head-sub span{
    font-size: 13px;
}

.nav-container{
    width: 49%;
    display: inline-block;
    margin: auto;
    text-align: right;
    vertical-align: top;
}
.nav{
    margin: auto;
    margin-right:30px;
    margin-top: 25px;
}
.nav a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}

.header-large-text{
    font-size: 80px;
    margin-top: 130px;
}

.header-small-text{
    font-size: 40px;
    margin-top: 20px;
}
.header-search-bar input{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    font-size: 16px;

}

input[type=text]{
    padding-right: 30px;
}

#header-search::placeholder{
    color: gray;
    padding-left: 60px;
}
.header-search-bar{
    width: 600px;
    margin: auto;
    position: relative;
}
.header-search-bar button{
    font-size: 18px;
    border: none;
    background: #bdebd7;
    border-radius: 5px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top:60px;
    right: 14px;
    z-index: 2;
    color: black;
}
.header-search-bar button:hover{
    cursor:pointer;
}
.header-search-bar img{
    position: absolute;
    width: 35px;
    top: 63;
    left: 10;
}
