*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;    
}

.map-container{
    
}
#map{
    width: 100%;;
    margin: auto;
    height: 400px;
    border-radius: 5px;
    margin-bottom: 100px;

}

.body-title{
    font-size: 35px;
    margin-bottom: 10px;
}

.content{
    padding-top: 50px;
    width: 88%;
    max-width: 1200px;
    margin: auto;
}